.our-school {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-navy-blue);
}

.about-us-container {
  max-width: 1300px;
  text-align: center;
}

.about-us-container h1 {
  font-size: 3.6rem;
  padding: 40px 30px;
}

.about-us-container p {
  font-size: 1.3rem;
  padding: 0px 30px;
}

.timetable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timetable-container h1 {
  padding-top: 60px;
}

