.shsm {
  width: 100%;
  background-color: var(--main-navy-blue);
}

.shsm-content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.shsm-logo-container {
  margin-bottom: 40px;
}

.shsm-logo {
  max-width: 700px;
  width: 100%;
}

.shsm-content p {
  font-size: 1.2rem;
  padding-bottom: 30px;
}