.Card {
  width: 100%;
  cursor: pointer;
}

.card-border {
  max-width: 500px;
  aspect-ratio: 1.1;
  background-color: #191c27;
  border-radius: 10px;
  background-image: linear-gradient(163deg, #0488BD 0%, #03648B 100%);
}
.card-border:hover {
  box-shadow: 0px 0px 30px 5px #191c27;
}
.card-container {
  max-width: 500px;
  aspect-ratio: 1.1;
  background-color: #191c27;
  border-radius: 10px;
}
.card-container:hover {
  box-shadow: 0px 0px 30px 5px #024059;
  transform: scale(0.98);
}
.card-img-container {
  height: 75%;
  margin: 0 auto;
  border-radius: 10px;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card-info-container {
  background-color:#191c27;
  padding: 12px 12px 16px;
  border-radius: 10px;
}
.card-info-container h3 {
  background-color:#191c27;
  padding: 12px 12px 16px;
}
.card-info-container p {
  background-color:#191c27;
  padding: 0px 12px 16px;
}

@media screen and (max-width: 600px) {

  .card-info-container {
    padding: 6px 6px 8px;
  }
  
  .card-info-container h3 {
    font-size: 0.9rem;
    padding: 6px 6px 8px;
  }

  .card-info-container p {
    font-size: 0.7rem;
    padding: 6px 6px 8px;
  }

}