.timetable {
  width: 100%;
  padding: 30px;
}

.timetable-table {
  border-collapse: collapse;
  border-color: var(--white);
}

td {
  border: 1px solid ;
  text-align: center;
  padding: 15px 120px;
}

@media screen and (max-width: 900px) {
  
  td {
    padding: 15px 60px;
  }
}

@media screen and (max-width: 600px) {
  
  td {
    padding: 15px 20px;
  }

}
